[Unit]
Description=RS Nexus NEIA API
After=network.target

[Service]
Type=simple
User={{ neia_service_user }}
Group={{ neia_service_group }}
WorkingDirectory={{ neia_api_dir }}
Environment=NEIA_DEV={{ neia_dev }}
ExecStart={{ neia_venv_path }}/bin/uvicorn app.main:app --host {{ neia_host }} --port {{ neia_port }}
Restart=on-failure
RestartSec=3

[Install]
WantedBy=multi-user.target
