NEIA_HOST=127.0.0.1
NEIA_PORT=8080
NEIA_DEV=0
NEIA_DEV_FALLBACK=0
NEIA_GATEWAY=zeromq
NEIA_SITE=lab
NEIA_CONTENT_ROOT=/opt/nexus-n3-neia-app-framework
NEIA_REGISTRY_DIR=/opt/nexus-n3-neia-app-framework/apps/registry
NEIA_INSTALLED_FILE=/var/lib/nexus-n3-neia-app-framework/installed.json
NEIA_STATE_DIR=/var/lib/nexus-n3-neia-app-framework
NEIA_LOG_DIR=/var/log/nexus-n3-neia-app-framework
NEIA_RUN_DIR=/run/nexus-n3-neia-app-framework
NEIA_WORKFLOWS_DIR=/var/lib/nexus-n3-neia-app-framework/workflows
