NEIA_HOST=127.0.0.1
NEIA_PORT=8080
NEIA_DEV=0
NEIA_DEV_FALLBACK=0
NEIA_GATEWAY=zeromq
NEIA_SITE=lab
NEIA_CONTENT_ROOT=C:\Program Files\Nexus N3 NEIA
NEIA_REGISTRY_DIR=C:\Program Files\Nexus N3 NEIA\apps\registry
NEIA_INSTALLED_FILE=C:\ProgramData\Nexus N3 NEIA\state\installed.json
NEIA_STATE_DIR=C:\ProgramData\Nexus N3 NEIA\state
NEIA_LOG_DIR=C:\ProgramData\Nexus N3 NEIA\logs
NEIA_RUN_DIR=C:\ProgramData\Nexus N3 NEIA\run
NEIA_WORKFLOWS_DIR=C:\ProgramData\Nexus N3 NEIA\state\workflows
